<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" routerLink=""
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span c lass="navbar-toggler-icon">
      <img width="150" src="../../../assets/logo.svg">
    </span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="/">
        <img src="../../../assets/logo.svg" width="150" height="20">
      </a>
    </nav>

    <ul class="navbar-nav mr-auto">
      <li *ngFor="let category of listCateogry" class="nav-item {{category.active}}">
        <a (click)="selectItem(listCateogry.indexOf(category))" class="nav-link"> {{category.libelle}}<span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form [formGroup]="searchForm" (submit)="doSearch()" class="form-inline my-2 my-lg-0">
      <input  formControlName="mc" class="form-control mr-sm-2" type="search" placeholder="Recherche"
             aria-label="Search" required>
      <button class="btn btn-outline-danger my-2 my-sm-0 pointer" type="submit">Recherher</button>
    </form>

  <ul class="navbar-nav mr-auto">
    <!-- add user component (Sofiane)-->
    <li class="nav-item dropdown">
      <a class="nav-link" id="navbarDropdown1" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <mat-icon color="secondary">account_circle</mat-icon> {{connectedClient.login}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <div *ngIf="isConnected();then content else other_content"></div>
        <ng-template #other_content>
          <li><button style="border: none" mat-icon-button class="dropdown-item" (click)="selectUser('auth')">Authentification</button></li>
          <li><button style="border: none" mat-icon-button class="dropdown-item" (click)="selectUser('inscription')">Inscription</button></li>
        </ng-template>
        <ng-template #content>
          <li><button style="border: none" mat-icon-button class="dropdown-item" (click)="selectUser('profil')">Profil</button></li>
          <li><button style="border: none" mat-icon-button class="dropdown-item" (click)="disconnect()">Déconnexions</button></li>
        </ng-template>

      </ul>
    </li>
    <!-- add panier (pannier) component (Mohammed)-->
    <li class="cart">
      <button mat-icon-button style="border: none;background: none !important;" (click)="openCart()">
        <mat-icon>shopping_cart</mat-icon>
        <div  class="material-icons mdl-badge mdl-badge--overlap" data-badge="1"></div>
        <!--<div class="icon material-icons mdl-badge" data-badge="1">shopping_cart</div>-->
      </button>

    </li>

</ul>

  </div>
</nav>
