@import '../../../styles.scss';

.mdl-badge[data-badge]:after{
  background: $primary;
  top: -23px;
  right: -5px;
  font-size: 11px;
  width: 15px;
  height: 15px;
}

.mat-icon-button{
  border: none;
  background: none !important;

}

.btn-outline-primary:focus,.btn-outline-primary:hover{
   background-color: $primary;
   color: white;
   border-color: $primary;
 }

.btn-outline-primary{
  color: $primary;
  border-color: $primary;
}

.mat-icon{
  color: $secondary;
}


ul li a {
  display:block;
  color:#4c5154;
  text-align: center;
}

ul li a:hover, ul li a:focus {
  border-color: $primary;
  border-bottom: 1px solid  $primary;
  box-shadow: none;
 }

.navbar-light .navbar-nav .active > .nav-link{
  border-color: $primary;
  border-bottom: 1px solid  $primary;
  box-shadow: none;
}
