
    <!-- content here -->
    <!--<div class="product-grid product-grid&#45;&#45;flexbox">-->
      <!--<div class="product-grid__wrapper">-->
        <!-- Product list start here -->
<div class="row">


<aside class="col-md-3">
  <div class="mt-5 mb-3" id="sidemenu" >
    <app-filtre-bar (emitEvent)="buttonMessage($event)"></app-filtre-bar>
  </div>
</aside>
  <!--{{_commonService.stringfyJson(filtre)}}-->
        <!-- Single product -->
  <!--<div class="row">-->
        <!--<div *ngFor="let produit of (listProduits | categorySearch: cat | marqueFilter: filtre.marques | prixFilter: filtre.prix  | slice: paginationFrom(pageEvent) : paginationTo(pageEvent)); let size = count" class="product-grid__product-wrapper">-->
          <!--<div *ngIf="pageEvent" class="product-grid__product">-->
            <!--<div class="product-grid__img-wrapper">-->
              <!--<img src="{{(produit.listPhotos[0]== null) ? '../../../assets/wheel.svg' : produit.listPhotos[0].urlImage}}" alt="Img" class="product-grid__img" />-->
            <!--</div>-->
            <!--<span class="product-grid__title">{{produit.marque.libelle}} {{produit.reference}} </span>-->
            <!--<span class="product-grid__price">{{produit.prixUnitaire}}€</span>-->
            <!--<div class="product-grid__extend-wrapper">-->
              <!--<div class="product-grid__extend">-->
                <!--<p class="product-grid__description">{{(produit.quantite>0)?'disponible':'non disponible'}} ajouter avis</p>-->
                <!--&lt;!&ndash;<span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Ajouter au Panier</span>&ndash;&gt;-->
                <!--<app-panier [produit]="produit"></app-panier>-->
                <!--<span (click)="getDetails(produit.id)" class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i> Détails</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
  <!--</div>-->
<div class="col-md-9" style="margin-top: 27px;">
  <div id="items" *ngFor="let produit of (listProduits | categorySearch: cat | marqueFilter: filtre.marques | prixFilter: filtre.prix  | slice: paginationFrom(pageEvent) : paginationTo(pageEvent)); let size = count" class="product-grid__product-wrapper">
    <!-- | marqueFilter: filtre.marques-->
    <div *ngIf="pageEvent" class="product-grid__product item">
      <div class="product-grid__img-wrapper cont">
        <img src="{{(produit.listPhotos[0]== null) ? '../../../assets/wheel.svg' : produit.listPhotos[0].urlImage}}"
             alt="Img" class="product-grid__img image"/>
        <div class="overlay">
          <div class="text">
            <!--<p class="product-grid__description">{{(produit.quantite>0)?'disponible':'non disponible'}} ajouter avis</p>-->
            <!--<span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Ajouter</span>-->
            <app-panier [produit]="produit"></app-panier>
            <span (click)="getDetails(produit.id)" class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i> Détails</span>
          </div>
        </div>
      </div>
      <span class="product-grid__title">{{produit.marque.libelle}} {{produit.reference}} </span>
      <span class="product-grid__price">{{produit.prixUnitaire}}€</span>
      <div class="product-grid__extend-wrapper info">

      </div>
    </div>
  </div>
</div>

</div>

    <div class="row centered offset-6" style="align-content: center;">

      <mat-paginator style="align-content: center;"
                     [length]="listProduits.length"
                     [pageSize]="6"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">{{pageEvent}}
      </mat-paginator>
    </div>


      <!--</div>-->
    <!--</div>-->
