
<mat-card xmlns="http://www.w3.org/1999/html">
  <mat-card-content>
    <label class="col-sm-2 control-label">Marque</label><br/>
    <div *ngFor="let marque of listMaruqe" class="form-group has-success">
      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="marque.isSelected">{{marque.libelle.toLocaleUpperCase()}}</mat-checkbox>
      </section>
      <!--<label class="custom-control custom-checkbox  container">
        <input type="checkbox" [checked]="marque.isSelected" [(ngModel)]="marque.isSelected" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{marque.libelle.toLocaleUpperCase()}}</span>
      </label>-->
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <label class="col-sm-2 control-label">Prix</label><br/>
    <!--<span class="text-small">{{minMaxPrix[0]}}</span>-->
    <mat-slider flex [min]="minMaxPrix[0]" [max]="minMaxPrix[1]" [step]="0.5" [(ngModel)]="selectedPrix" (change)="drag()"></mat-slider>
    <input flex="15" type="number" [min]="minMaxPrix[0]" [max]="minMaxPrix[1]" [step]="0.5" [(ngModel)]="selectedPrix" aria-controls="value-slider"/>
    <!--<span class="text-small">{{minMaxPrix[1]}}</span>-->
  </mat-card-content>

  <button mat-raised-button color="primary" (click)="filtrer()">Filtrer</button>
</mat-card>


