<div class="container" id="content">
  <div class="row h-100 mt-5">
    <aside class="col-md-3">
      <div class="mt-5 mb-3" id="sidemenu" >
        <app-filtre-bar (emitEvent)="buttonMessage($event)"></app-filtre-bar>
      </div>
    </aside>
    <main class="col py-5">
      <div class="row">
        <div class="col">
          <div class="tab-content py-1">

            <app-produit-list  [filtre]="monFiltre"></app-produit-list>

          </div>
        </div>

      </div>
    </main>
  </div>
</div>


